{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Converter</title>
    <link rel="stylesheet" href="{% static 'converter/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>ImgShift Converter</h2>
        
        <form id="uploadForm" method="post" action="{% url 'convert_image' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Conversion type dropdown -->
            <label for="conversion_type">Select Conversion Type:</label><br>
            <select name="conversion_type" id="conversion_type" class="dropdown">
                <option value="jpg_to_png">JPG ➡️ PNG</option>
                <option value="png_to_jpg">PNG ➡️ JPG</option>
            </select><br><br>

            <!--file input-->
            <input type="file" name="images" class="file-input" multiple required id="fileInput"  max="50"><br>
            <button type="submit" class="convert-btn">CONVERT</button>
        </form>
    </div>
    <p id="message"></p>
    <img id="convertedImage" style="display:none; max-width: 300px;">

    <!--<script src="{% static 'converter/js/script.js' %}"></script>-->
</body>
</html>
